body  {

  background: linear-gradient(rgb(220,152,37) ,rgb(140,97,249));
  font-size: 15px;
  font-family: georgia,sans-serif;
  color: black;

}

#conteiner  {

  width: 90%;
  clear: both;

}

.columna_izquierda  {

  width: 25%;
  border-radius: 5px;
  float: left;
  margin-right: 10px;

}

.columna_izquierda img  {

  width: 95%;
  border-radius: 7px;
  margin-left: 5px;
  margin-top: 5px;

}

.columna_derecha  {

  width: 70%;
  border-radius: 7px;
  float: left;

}

h1  {

  font-size: 18px;
  color: rgb(23, 116, 130);
  padding-left: 10px;

}

h2  {

  font-size: 15px;
  color: rgb(109, 147, 135);
  border-bottom-style: double;
  border-color: rgb(23, 116, 130);
  padding-bottom: 10px;

}

.menu ul  {

  width: 95%;
  list-style: none;
  margin-top: auto;
  padding: 7px ;
  text-align: left;

}

.menu ul li {

  background: rgb(237, 203, 224);
  border: 4px double #1b8c77;
  border-radius: 7px;
  color: black;
  padding: 7px;
  margin-top: 5px;
  font-size: 15px;

}

.secciones  {

  padding: 10px 25px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: rgb(237, 203, 224);
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 7px;

}

.listas {

  list-style: none;
  list-style-type: circle;

}

#datos  p {

  font-style: italic;
  font-size: 15px;
  color: rgb(66, 40, 144);
  text-align: justify;
  border-bottom-style: double;
  border-color: rgb(23, 116, 130);
  padding: 5px 30px;

}

#datos ul li  {

  list-style: none;
  list-style-image: url(../imagenes/icono-azul.png);

}
